name: Java CI with Maven

on:
  push:
    branches: [ "main", "develop" ] # main, develop 브랜치에 Push 발생 시 실행
  pull_request:
    branches: [ "main", "develop" ] # 해당 브랜치로 PR 생성 시 실행

jobs:
  build:
    runs-on: ubuntu-latest # 최신 Ubuntu 가상 환경에서 실행

    steps:
    - uses: actions/checkout@v3 # 저장소 코드 체크아웃 (다운로드)

    - name: Set up JDK 17
      uses: actions/setup-java@v3 # Java 17 환경 설정
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven # 의존성 캐싱으로 빌드 속도 향상

    - name: Build with Maven
      run: mvn clean package -DskipTests # 테스트 없이 빌드만 수행 (속도 최적화 및 단계 분리)

    - name: Run Tests
      run: mvn test # 단위 테스트 별도 실행